ul.navbar-nav li.nav-item a.nav-link {
    text-decoration: none;
    transition: 0.3s;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

footer {
    margin-top: 2rem;
}

footer.navbar p.navbar-text {
    color: #fff;
}

div.jumbotron {
    margin-top: 2rem;
}

.container .row img {
    width: 100%;
}

@media (max-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}